.header {
  padding: 10px 5px;
  background-color: var(--pink-bg-color);
  display: grid;
  grid-template-areas:
      "a b . f c d "
      "a e . f c d";
  align-items: center;
  justify-items: center;
  grid-template-columns: 7em 20em auto 4em 4em 4em;
}

.header > img {
  grid-area: a;
  width: 75px;
}

.header > h1 {
  grid-area: b;
  margin: 0;
  font-size: 1.5em;
}

.header > h2 {
  grid-area: e;
  margin: 0;
  font-size: 1.2em;
}

.header > img:hover,
.header > h1:hover,
.header > h2:hover {
  cursor: pointer;
}

.header > #logout {
  grid-area: c;
  text-decoration: none;
  font-weight: 700;
}
.header > #login {
  grid-area: f;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
}

.header > a {
  color: var(--dark-bg-color);
}
.header > a:hover {
  color: var(--offwhite-color);
  cursor: pointer;
}

.header .cart {
  grid-area: d;
}

.header svg:hover {
  cursor: pointer;
  color: var(--offwhite-color);
}

.header .cart > p {
  display: inline-block;
  margin-left: 0.5em;
  font-weight: 700;
}